@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: quicksand;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    display: inline;
}
header .hero {
    padding: 60px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: rgb(1, 120, 120);
}
header nav{
    position: sticky;
    top: 0;
    background-color: rgb(1, 73, 73);
    padding: 10px;
}
header nav ul li{
    margin: 0 10px;
    display: inline-block;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400px;
    transition: 0.5s;
}
header nav ul li a:hover{
    color: #ddd;
}

main{
    width: 100%;
    padding: 20px;
    overflow: auto;
}
main .konten{
    width: 73%;
    float: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
}
main .konten img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
main h1,h2,h3{
    margin: 15px 0 5px 0;
}
main p{
    margin: 5px 0px 5px 0px;
    text-align: justify;
}
main aside{
    width: 25%;
    float: right;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
}
main aside article{
    text-align: center;
}
main aside article header p{
    text-align: center;
    margin: 5px 0 15px 0;
}
main aside article table{
    margin: 15px 0;
    text-align: left;
}
main aside article table tr th{
    padding: 0 10px;
}
main aside article img{
    width: 200px;
}
footer{
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color:rgb(1, 120, 120);
    color: #fff;
}

@media screen and (max-width: 1000px) {

    header nav{
        text-align: center;
    }

    main .konten {
        width: 100%;
    }
    main aside {
        width: 100%;
        margin: 50px 0;
    }
}